* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --off-black: hsl(0, 0%, 20%);
  --gray: hsl(0, 0%, 50%);
  --light-gray: hsl(0, 0%, 80%);
  --rose: hsl(348, 100%, 73%);
  --light-rose: hsl(348, 95%, 57%);
  --naples-yellow: hsla(48, 85%, 62%, 1);
  --medium-purple: hsla(242, 84%, 76%, 1);
  --majorelle-blue: hsla(252, 89%, 62%, 1);
  --transition-motion: all ease-in-out 300ms;
}

body {
  font-family: "Fredoka", sans-serif;
}

#wishlist {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

#cart {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

header {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-weight: 500;
  color: var(--majorelle-blue);
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 25px;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--off-black);
  transition: var(--transition-motion);
}

nav ul li:hover {
  margin-left: 25px;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--medium-purple);
}

.books-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 40px 0;
  margin: 50px 0;
}

.card {
  height: 550px;
  width: 300px;
  padding: 10px;
  border-radius: 12px;
  -webkit-box-shadow: 5px 5px 11px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 11px 1px rgba(0, 0, 0, 0.4);
}

.image-container {
  height: 400px;
  width: 280px;
  border-radius: 8px;
  position: relative;
  border: 1px solid var(--medium-purple);
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.info-container h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 25px;
  margin-bottom: 10px;
}

.button-container {
  position: absolute;
  bottom: -18px;
  right: 10px;
}

.button {
  background-color: var(--majorelle-blue);
  font-size: 1rem;
  padding: 0.5em 1em;
  border: none;
  font-weight: 400;
  font-family: "Fredoka", sans-serif;
  cursor: pointer;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
}
